*[data-template-name] {
   display: none !important;
}

header {
   display: block;
   font-size: 130%;
   font-family: sans-serif;
}

body {
   margin: 0;
}

body > header {
   margin-bottom: 0.5em;
}

#content section header {
   font-size: 125%;
}

#content section section header {
   font-size: 110%;
}

#mainNavigation {
   padding: 0;
   font-family: sans-serif;
}

#mainNavigation ul {
   margin: 0;
   padding: 0;
}

#mainNavigation li {
   margin: 0.5em 0.25em 0.5em 0;
}

#mainNavigation label {
   padding: 0.5em 0.5em;
   color: white;
   background-color: cornflowerblue;
   cursor: pointer;
}

#mainNavigation input {
   display: none;
}

#mainNavigation label:hover {
   color: white;
   background-color: darkblue;
}

#mainNavigation input:checked ~ label {
   color: white;
   background-color: blue;
}

#listing {
   font-family: sans-serif;
}

#listing ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#listing li {
   margin: 0.5em 0;
   padding: 0.5em 0.5em;
   color: white;
   background-color: cornflowerblue;
   cursor: pointer;
}

#listing li:hover {
   color: white;
   background-color: darkblue;
}

#search {
   margin-top: 0.5em;
   width: 100%;
   box-sizing: border-box;
}

#content {
   margin: 0;
}

.contentList {
   list-style-type: none;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

.contentList li {
   margin: 0 0 0.5em 0;
   padding: 0.5em;
   color: white;
   background-color: cornflowerblue;
   cursor: pointer;
}

.contentList li:hover {
   color: white;
   background-color: darkblue;
}

.contentList li span {
   display: block;
}

.contentList .detail {
   font-size: 75%;
   overflow: hidden;
}

.clearShoppingList {
   display: block;
}

.ideas {
   padding-left: 1em;
}

.ideas header {
   margin-bottom: 0.5em;
   position: relative;
   left: -0.5em;
}

.ideas ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

.ideas li {
   margin: 0.5em 0;
   padding: 0.5em 0.5em;
   color: white;
   background-color: cornflowerblue;
   overflow: hidden;
}

.ideas button {
   float: right;
}

.idea {
   margin: 0;
   padding: 0;
}

.ideaSource {
   margin: 0.5em 0 0 0;
   padding: 0;
   font-size: 75%;
}

.ideaSource:not(:empty)::before {
   content: 'Source: ';
}

.addIdea {
   padding-left: 1em;
}

.addIdea header {
   margin-bottom: 0.5em;
   position: relative;
   left: -0.5em;
}

.addIdea textarea {
   display: block;
   margin-bottom: 0.5em;
}

.addIdea button {
   display: block;
   margin-top: 0.5em;
}

.ingredients {
   list-style-type: none;
   padding-left: 0;
}

.recipeTitles {
   list-style-type: none;
   padding-left: 0;
}

.tags {
   list-style-type: none;
   padding-left: 0;
}

.tags li {
   display: inline-block;
   margin: 0;
   padding-right: 0.25em;
}

.plan {
   padding-left: 1em;
}

.recipe > header, .plan > header {
   position: relative;
   left: -0.5em;
}

.recipe {
   padding-left: 1em;
}

#userContainer {
   float: right;
}

@media (max-width: 767px) {
   body {
      padding: 0;
   }
   
   #menuIcon {
      vertical-align: bottom;
      box-sizing: border-box;
      border: thin solid white;
      border-radius: 3px;
      background-color: transparent;
      padding: 0;
   }
   
   #menuIcon:hover {
      border-color: black;
      cursor: pointer;
   }
   
   #menuIcon img {
      width: 29px;
      height: 29px;
      vertical-align: bottom;
   }
   
   #mainNavigation.hiddenMenu {
      display: none;
   }

   #mainNavigation li {
      display: block;
   }

   #mainNavigation label {
      display: block;
   }
   
   #listing.hiddenMenu {
      display: none;
   }
}

@media (min-width: 768px) {
   body {
      padding: 1em;
   }

   #content {
      width: auto;
      overflow: hidden;
      padding: 0.5em 0 0 0.5em;
   }
   
   #menuIcon {
      display: none;
   }

   #mainNavigation {
      display: block;
      border-bottom: solid thin black;
      clear: left;
   }

   #mainNavigation li {
      display: inline-block;
   }

   #listing {
      width: 10%;
      float: left;
   }
   
   .ingredients input.description {
      width: 40em;
   }
   
   .clearShoppingList {
      margin-top: 2em;
   }
}
